# Introduction to Python

In this short crash course we will learn to code in Python programming language, specifically we will use Python 3, while searching on the internet you may sometime stumble upon Python 2.7. There are a few syntactic differences you will learn along the way.

### Advantages

* General-purpose language, used in web developement as well as high performance computing
* It is an "interpreted" programming language, i.e. there is no need to compile your code
* Extensive choice of libraries to deal with most complicated problems, especially for data science and machine learning
* Has extremely steep learning curve, is easy to read and write
* Very well documented, and widely used ([docs.python.org](http://docs.python.org) or check Stack Overflow)
* Dynamically-typed - it is not necessary to manually define the types of variables (in most cases)

### Disadvantages

* Dynamically-typed - it is not necessary to manually define the types of variables - this can cause confusion. It is good practice to leave comments with description of the input for every function
* Is slower than other compiled languages, this can be rectified by using libraries that are pre-combiled in other programming languages (*More in the workshop on scientific computing in python)*


### Plan for today
1. Basics: variables, conditional statements, for/while cycles, functions 
2. Pythonic basics: list comprehension, lambda functions
3. Problem solving

### How to learn Python?

* It is a language, the only way to learn it is to speak it. *Don't be afraid, make mistakes, and ask questions.*
* *Practice makes perfect*. Initially you will be forgetting the commands, the more you practice the sooner you will remember the syntax.
* If you don't understand something, first compose the question properly, think about it, and if you can't think of a solution ask someone!
* Before you execute any cell, stop and try to predict what it will do! Ideally write your prediction on a piece of paper!
* Experiment! Change the code in the cells, try various test cases to understand how the code behaves.

## Variables

Variables are "black boxes" used to store values. Each variable is of a specific type, the types define the operations that can be applied to the variables and their response to them. The most common variables are:
 - *Strings* - A "string" of characters
 - *Integers* - Whole numbers
 - *Floating-point values* - Decimal numbers
 - *Boolean* - Binary logic (True / False)

In [ ]:
# This is a comment, text following a hashtag is not interpreted as code.
"""This is also a comment, it is a string, and can span multiple lines.
Comments aid understanding of the code, and make it legible."""

In [ ]:
# To execute the code in a cell, press ctrl-shift
a = 5  # the variable a is assigned the value 5
type(a)  # the type() function displays the variable type of the argument in the brackets

Now run the following code without any comments and see the difference:

In [ ]:
a = 5  
type(a)

In [ ]:
# python automatically guesses the variable type of your input, can you google what this variable type stands for?
b = 0.2
type(b)

In order to print out the value of a variable or a calculation, you can use the function print()

In [ ]:
print(a) # don't forget the brackets ()!
print(a+15)

Guess the results of the following operations, write them down before running the cell!

In [ ]:
print(a/2)
print(a//2) # // signifies whole number division
print(a%2)  # "modulo operator" % is the remainder after division

Write a code to print the sum of the variable `a` and `b`:

In [ ]:
# CODE HERE
print(a+b)

Python can also work as a very powerful calculator, what is 99 to the power of 99? (Hint: powers are denoted by ** in Python)

In [ ]:
# CODE HERE
print(99**99)

Create a new variable and print out its type:

In [ ]:
# CODE HERE
x = 9.999
type(x)

It is possible to add different types in Python, the resulting type is chosen automomatically. (broadcasting)

In [ ]:
type1 = 'str'   # string
type2 = 4       # int
type3 = 4.5     # float
type4 = True    # bool (logic value True / False)

print(type2 + type3)
print(type3 + type4)
print(type1 + type2)

**Some types cannot be added together as you can see above! Error messages are a useful feature that allow you to find bugs in your code. Also notice that when adding a float and an int, the result is chosen to be a float.**

## Strings

String is a data type used to represent text in Python:

In [ ]:
c = "abc"
type(c)

There is an arithmetic associated to the string data type, see how a string behaves under the following operands:

In [ ]:
hello = "Hello"
space = " "
world = "World!"
print(hello + space + world)
print((hello + space)*2 + world)

Notice that the sign "+" concatenates strings, but adds numbers when applied to `int`s or `float`s. An operator with different operations for different types is called an "overloaded operator". <br><br>
It is possible to manually change the data type of a variable, for example strings to integers or floating-point numbers.

In [ ]:
s = "123"
si = int(s) # string s converted to an integer
print(si)
sf = float(s) # string s converted to a floating point number
print(sf)

... or vice-versa:

In [ ]:
d = 123
ds = str(d)
print(ds + "_" + "s")

Create a new string variable "2018", convert it to an integer, and add the result to the float number number = 5.7

In [ ]:
# CODE HERE
string = "2018"
convert = int(string)
print(convert + 5.7)

Finally, strings can be split into lists!

In [ ]:
s = "123"
print(len(s))   # How long is this string?
list(s)

# Lists
List is a mutable sequence of elements, i.e. once created, the separate elements can be changed. Lists can be created in the following way `a = [1,2,3]`

In [ ]:
a = [1, 2, 3]
print("Printing list a:")
print(a) 
b = [2, 5]
c = b + a        # Lists can be added together, this appends list b to list a!
print("Printing list c:")
print(c)

Try if lists can be subtracted or multiplied!

In [ ]:
# CODE HERE
d = c - a
print(c)

In [ ]:
e = c * a
print(e)

Elements in a list can be accessed separately, each element has an associated index starting from 0

In [ ]:
print(a[0])   # first element is numbered by 0, not 1!
print(a[2])   # third element of the list
print(a[-1])  # last element of the list
a[0] = 5
print(a)      # we have modified the first element

Write a code to access the 10th element of the list `a`:

In [ ]:
# CODE HERE
print(a[9])

Can you use your python knowledge of lists and strings to find the 10th character in the sentence below?

`s = "This is a string with an exciting 10th character!"`

In [ ]:
# CODE HERE
s = "This is a string with an exciting 10th character"
print(s[9])

Below you can see some handy functions that can be perfomed on a list:

In [ ]:
# length of a list
print(len(a))
# sum of all list elements
sum(a)
print(sum(a))
# adding an element to the end of the list
a.append(10)
print(a)

Especially useful is the sort() function:

In [ ]:
v = [5, 3, 8, 1]
print("the list v is :")
print(v)
print("the list v after sorting is: ")
v.sort()
print(v)

# Try to print out the result of the function reverse() without converting to list. What type is it?
print("printing the reversed sorted list v:")
print(list(reversed(v)))

The elements in a list do not need to be all of the same type.

In [ ]:
good_list = ['Data Science', 485, True, 0.001]
print(good_list)

Lists can also contain more lists, exciting! Let's append a list at the end of a list:

In [ ]:
good_list.append(['another', 'list'])
print(good_list)
print(good_list[-1][0]) # picks the first element of the last element of good_list

How many elements does the list `[[0,1,2,3,4,5,6]]` have? Use the `len()` function to see if you were right.

In [ ]:
# CODE HERE
l = [0,1,2,3,4,5,6]
print(len(l))

`range()` is a particularly useful iterator that can be converted into a list:

In [ ]:
r = range(10)
print(r)

In the future you will see that the result of the `range()` function behaves just like a list would when combined with certain functions or in loops. If you want the result to really be a list, make sure to convert it!

In [ ]:
r = list(r)    
print(r)
print(len(r), sum(r))

The `range()` function can have a specified start, end and step size. The syntax is: range(first element, last element, step size)

If step size is not specified, the default value is one.

In [ ]:
print(list(range(1,10,2)))
print(list(range(10,1)))
print(list(range(10,1,-1)))

Create a list of all the multiples of three between 1000 and 2500:

In [ ]:
# CODE HERE
print(list(range(1002,2500,3)))

## Accessing elements

You have already seen how to access a single element in a list:

In [ ]:
a = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 9]
print(a[0])
print(a[1])
print(a[-1])

In python, you can also access "sublists" of lists, the syntax is: list[ start : end : step ]

But remember python only includes the start but no the end
i.e. if you want to print the first ten elements of a list, do [0:11]

In [ ]:
print(a[0:2])   # first two elements
print(a[:2])    # from the start to element two
print(a[7:])    # from element seven to the end
print(a[-2:])   
print(a[::2])   # every second element from the start to the end

Create a list containing 11 elements, print out the following sublists:
    - All elements between the 2nd and 5th element
    - Every second element of the list
    - Print out the whole list backwards
    - Exchange the order of the 4th and 5th element and the 8th and 9th element.

In [ ]:
# CODE HERE
r = list(range(8,30,2))
print("the list is:")
print(r)
print("every second element of the list:")
print(r[1:11:2])
print("the whole list backwards:")
print(list(reversed(r)))

## Logic

In Python it is often necessary to write down conditions which result in a boolean value (either `False` or `True`). It is important to learn how to evaluate such conditions using basic logic. Let's look at some logic operations first:

In [5]:
#or operator
print(True or False or False)
print(False or False or True)
print(True or True)

#and operator
print(False and False)
print(True and True)
print(True and False)

#not operator
print(not False)
print(not True)

True
True
True
False
True
False
True
False

This can be summarised into this table
![alt text](https://upload.wikimedia.org/wikipedia/commons/4/4a/Truth_table_for_AND%2C_OR%2C_and_NOT.png)

These logical operations can be incorporated in terms of mathematical operations, let's define a few variables:

In [ ]:
a = 5 # an integer
b = 6 # another integer
c = [0,1,2,3,4,5] # a list

Now we can test a few logic operations on these variables, look at the cell below and try to guess the output! Write your guesses down before running the cell!

In [ ]:
print(a == b) # a equal to b
print(a+a == b) # 2a equal to b
print(a != b) # a not equal to b
print(a > b) # a greater than b
print(a < b) # a lesser than b
print(a <= b) # a lesser or equal to b

There are a few more intuitive operations that will come handy later on:

In [ ]:
print(a in c) #if a is in c?
print(b in c) #if b is in c?
print(a not in c) #if a is not in c?
print(b not in c) #if b is not in c?
print(a and b in c) #if both a and b is in c?
print(a or b in c) #if either a or b is in c?

print(2 is '2') #if integer 2 is string 2?
print("2" is '2') #double quote and single quotes are equivalent?
print(2 is not '2') #if integer 2 is not string 2?

Make sure you understand each of the above results, if you don't, ask one of the demonstrators.

## Conditional statements
Conditional statements are useful when we want to run some parts of the code only if some conditions are fulfilled. The syntax is:

`if [Condition]:
    [Code]`
    
If the `[Condition]` in the if statement has the value True, the `[Code]` will be executed, otherwise it will not.

In [ ]:
# Lets start with a few simple conditional statements
if True:
    print("The condition after \"if\" is true!")

In [ ]:
if False:
    print("The condition after \"if\" is false :( !")

In [ ]:
# It is possible to include a number of conditions! If neither is true, then the code in else will run.
a = 5
if a == 2:
    print("a is equal to two!")
elif a == 3 or a == 4:
    print("a is equal to three or four?")
else:
    print("a is not two, three or four!")

**IMPORTANT** Indentation is essential for Python.

Run the following block of code. How is it different?

In [ ]:
a = 5
if a == 2:
print("a is equal to two!")
elif a == 3 or a == 4:
print("a is equal to three or four?")
else:
print("a is not two, three or four!")

As you can see, indentations have to be placed after every ' : '

Write a code that takes a list with n elements on its input, and returns the string `"Too long"` if the n > 10, `"Too short"` if n < 10, and `"Ideal"` if n = 10.

In [ ]:
#Code Here
l = list(range(0,10))
n = len(l)
if n>10:
    print("Too long")
elif n<10:
    print("Too short")
else:
    print("Ideal")

## For loop

Loops are one of the most important structures you will learn today, they allow cerain parts of the code to be executed multiple times. In Python the `for` loop is used extensively. The syntax is: `for <variable> in <list of elements>:`

In [ ]:
# one by one each element of the list is assigned to the variable i, then the code inside the for loop is executed
for i in range(10):
    print(i)

In [ ]:
# The loop iterates over the list, sequentially assigning values to the variable i. The code within the loop prints the value.
for i in [4, 1, 5, 22, 5]:
    print(i)

In [ ]:
# The loop iterates over the list, sequentially assigning values to the variable i. The code within the loop prints the value.
for i in [4, 1, 5, 22, 5]:
    print (i, i+10)

In [ ]:
for i in "abc":   #it is also possible to iterate over strings
    print(i)

In [ ]:
# sometimes it is useful to have two nested for loops, keep in mind the more nested loops the slower the code!
for i in [1,2,3]:
    for j in range(2,22,5):
        print(i, j)

Calculate the hundredth element of the Fibonacci sequence. $F_0=0$, $F_1 = 1$, $F_{i+2} = F_{i+1} + F_{i}$.

In [ ]:
# CODE HERE
F_i = 0
F_i1 = 1
F_i2 = 1
for i in range(49):
    F_i2 = F_i1 + F_i2
    F_i1 = F_i2 + F_i1
    F_i = F_i1 + F_i2
print(F_i1)

## List comprehension

If you encounter an expression such as this:

`for item in list:
    if conditional:
        expression`
        
It can be briefly written in python as:

`[ expression for item in list if conditional ]`

In [ ]:
# You can either use loops:
squares = []

for x in range(10):
    squares.append(x**2)
 
print(squares)

In [ ]:
# Or you can use list comprehensions to get the same result:
squares = [x**2 for x in range(10)]

print(squares)

Code a comprehension list that iterates over first 100 whole numbers and picks out the even ones:

In [ ]:
# CODE HERE
whole_numbers = [x for x in range(100)]
print(whole_numbers[0:101:2])

Create a comprehension list that replaces every number <50 with True and >50 with False:

In [ ]:
# CODE HERE
f = []
F=0
for i in range(100):
    F=F+1
    if F<50:
        f.append(True)
    else:
        f.append(False)
print(f)

## While loop

While loop is a classic loop with a set condition, while the condition is true, the cycle will repeat.

In [1]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

If the while condition is always true, the cycle will never stop.

In [ ]:
"""i = 0.000001
while i != 10:
    i += 1
    print(i)"""

## Functions

Functions are a basic building block of a programming language. In python, functions can return multiple variables at the output. (unlike C/C++ and Fortran). The syntax is:

`def [function name]( [inputs] ):
    [code within the function]
    return [output]`

In [ ]:
def plus(a, b):
    return a + b

In [ ]:
print(plus(1, 2))
print(plus(3.2, -1))

In [ ]:
# functions can have default input values
def plus2(a, b=2):
    return a + b

print(plus2(7))
print(plus2(7,4))

Analyse the following function, what do you think it does? Use the function on a number of testcases to see if your guess is correct.

In [ ]:
a

a += b is the sam as a = a+b

In [ ]:
def random_func(a):
    something = 0
    
    for character in str(a):
        something += int(character)
        
    return something

In [ ]:
random_func(123)

In [ ]:
random_func(8888883)

Combine your knowledge of comprehension lists and functions to write a function that finds all the even numbers between n and m:

In [ ]:
# CODE HERE
b=[]
def even_numbers(n,m): 
    for i in range(n,m+1):
         if type(i/2) == type(1):
            b=b+[i]
            return b
print(even_numbers(1,9))
b

In [ ]:
a=[]
def even_numbers(n,m):
    for i in range(n,m+1):
        if i%2==0:
            a.append(i)
    return a

In [ ]:
even_numbers(1,9)

In [ ]:
n=int(input('Enter n: '))
m=int(input('Enter m: '))
a=[]
R=range(n,m+1)

for i in R:
    if i%2==0:
        a=a+[i]
print(a)

In [ ]:
input()

***
## [Problem]
A bank provides ISA with 5% interest per annum. If you deposit 50 pounds a month into the ISA over the period of one year, and the money deposited in the account is compounded at the end of every month, how much money will be in the account at the end of the year?

In [ ]:
# CODE HERE
r=0.05

def savings(s,m):
    for i in range(m):
        s=s+0.05*s
    return s

range start with 0, not 1, so it isn't m+1

In [ ]:
savings(50,12)

---
## [Problem]
Code a function that sums the digits in a number.

In [ ]:
# CODE HERE
def digit_sum(a):
    zero=0
    for character in str(a):
        zero += int(character)
    return zero

In [ ]:
digit_sum(666)

---
## [Problem]
Find the sum of all integer multiples of 3 or 5 smaller than 10000.

In [ ]:
# CODE HERE
def sum_of_multiples(x):
    "Function that gives sum of all interger multiples of 3 or 5 smaller than x"
    s=0
    for i in range(1,x):
        if i%3==0:
            s+=i
        elif i%5==0:
            s+=i
    return s
sum_of_multiples(10000)

---
## [Problem] [Adv]
Code a function that decides whether the input is a prime number or not.

Find the sum of the first 100 prime numbers.

In [ ]:
def prime_number(a):
    n=0
    for i in range(2,a):
        if a%i==0:
            n+=1
        else:
            n+=0
    if n==0:
        return ("It is a prime number!")
    else:
        return ("It isn't a prime number!")   
prime_number(5)

In [ ]:
s=[]
def prime_number(a):
    n=0
    for i in range(2,a):
        if a%i==0:
            n+=1
        else:
            n+=0
    if n==0:
        s.append(a)   
def prime_sum(n):
    b=0
    x=2
    while b<n:    
        prime_number(x)
        x+=1
        b=len(s)
    output=sum(s)
    return output
prime_sum(11111)

In [ ]:
from random import randrange
sleeping_hour = randrange(0, 9)

print("When is Katie gonna wake up today?")
if sleeping_hour>=7:
    print("She will wake up before 9am.")
else:
    print("She will snooze her alarm and never wake up!")